.textBox {
   width: 33.33vw;               /* 1/3 of the screen width */
   height: 84.5vh;  
   margin-top: 63px;            /* Full screen height */
   position: fixed;              /* Fixed positioning to stay on the left */
   top: 0;
   left: 7px;
   
   padding: 10px;
   border: 2px solid #ADD8E6;    /* Light blue border */
   box-shadow: 0px 0px 8px rgba(173, 216, 230, 0.8); /* Light shadow */
   outline: none;
   overflow-y: auto;             /* Enable vertical scrolling */
   overflow-x: hidden;           /* Hide horizontal scrolling */
   resize: none;                 /* Prevent resizing */
}

.textBox:focus {
   border-color: #87CEFA;       /* Brighter blue when focused */
   box-shadow: 0px 0px 12px rgba(135, 206, 250, 0.8); /* Brighten shadow */
}
